#nav{
    width:1224px;
}
#section1{
    height: 630px;
    margin: 172px 0px 0px 67px;

}
#section1 span {
   font-weight:bolder;
}
#section2{
    width: 1224px;
    padding-left:143px;
    margin: 0px; 
}
#section3{
    width: 1224px;
    margin: 80px 0px 0px 0px;
    padding-left: 10px;
}
#bg{
    width: 1224px;
}





























